body{
  padding: 0;
  margin: 0;
  background-image: url(https://lagunalawnservice.com/img/casa-28.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}
.mas{
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #299684;
  
  
}
.mas h1{
  text-align: center;
  color: #ffff;
   
}
.nunber{
  overflow: hidden;
  background-color: #036;
  position: relative;
  padding: 0;
  margin: 0;
}
.nunber h2{
  color: #fff;
  
  margin-left: 26px;

}